target/

*.jar

!assignment2-template/cse511/src/main/scala/CSE511-assembly-0.1.0.jar

spark-warehouse/
task-temp-directory/

.vscode/
.idea/

.DS_Store
Thumbs.db

data/*.csv
!data/arealm10000.csv  
!data/zcta10000.csv

*.zip

*.class
*.log

.bsp/
.project/
